/node_modules
/public/storage
/public/graphics
/public/.well-known
/public/sale_log
/public/GeoIP2-City.mmdb
/storage/GeoIP2-City.mmdb
/storage/*.key
/vendor
/storage/clockwork
/config/octane.php
/public/resources/landers/ctpupgrade/assets
/public/resources/landers/node_modules
.env
.env.backup
.env-nodebug
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_store
bin/
misc/
GeoIP2-City.mmdb
_ide_helper.php
.htaccess
.phpstorm.meta.php

composer-setup.php

/infra
Makefile
cron.log
dump.rdb