footer {
    background: $lightPink;
    padding: 40px 0;

    .footer_content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media($tablet) {
            flex-wrap: wrap;
        }

        .logo_wrap {
            max-width: 150px;

            @include media($tablet) {
                width: 100%;
                text-align: center;
                margin: 0 auto 20px;
            }
        }

        .buttons_wrap {
            @include media($tablet) {
                width: 100%;
                text-align: center;
                margin-top: 20px;
            }

            .button {
                @include media($tablet) {
                    width: 150px;
                }
            }
        }
    }

    a {
        color: $black;
        text-decoration: none;
        font-size: 1.2em;

        &:hover {
            color: $blue;
        }
    }

    ul {
        list-style: none;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        column-gap: 40px;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        justify-content: center;
        -webkit-justify-content: center;

        @include media($tablet) {
            width: 100%;
        }

        @media screen and (max-width: 550px) {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        li {
            @media screen and (max-width: 550px) {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }

    .copy {
        color: $black;
        margin-top: 20px;
        font-size: 12px;
        text-align: center;
    }
}
