h2.title {
    font-size: 4em;
    margin-bottom: 20px;

    @media screen and (max-width: 992px) {
        font-size: 3.5em;
    }

    @media screen and (max-width: 768px) {
        font-size: 3em;
    }
}

.title_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    -webkit-align-items: center;

    .line {
        height: 5px;
        background: $green;
        width: 50px;
        display: block;
        margin-left: 15px;
        margin-bottom: 15px;
    }
}

section:not(.hero):not(.splide) {
    color: $black;
    padding: 80px 0;

    @media screen and (max-width: 768px) {
        padding: 40px 0;
    }

    h3 {
        font-size: 4rem;
        margin-bottom: 20px;

        @media screen and (max-width: 768px) {
            font-size: 3.6rem;
        }
    }

    p {
        font-size: 1.8rem;
        line-height: 1.6;
        margin-bottom: 20px;

        @media screen and (max-width: 768px) {
            font-size: 1.4rem;
        }
    }
}

.two_columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    -webkit-align-items: center;

    @media screen and (max-width: 992px) {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .column {
        width: 50%;

        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }
}

.hero {
    padding: 50px 0 100px;

    @media screen and (max-width: 991px) {
        padding: 50px 0;
    }

    h2 {
        color: $black;
        font-size: 4.8em;
        line-height: 1.2;
        text-shadow: 2px -1px rgba(255, 255, 255, 0.8);

        @media screen and (max-width: 1199px) {
            font-size: 3.8em;
        }

        @media screen and (max-width: 768px) {
            font-size: 3em;
        }

        @media screen and (max-width: 550px) {
            font-size: 10vw;
        }
    }

    p {
        color: $black;
        font-size: 1.6rem;
        line-height: 1.2;
        margin-bottom: 30px;
        padding-right: 10%;

        @media screen and (max-width: 768px) {
            font-size: 1.2rem;
        }

        @media screen and (max-width: 550px) {
            font-size: 3.8vw;
        }
    }

    .buttons_wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        gap: 20px;
        column-gap: 20px;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        margin-bottom: 60px;
    }

    .logos_wrap {
        width: 100%;
        margin-top: 60px;

        h3 {
            color: $black;
            width: 100%;
            text-align: center;
            font-size: 3.6rem;
        }
    }
}

#our_benefits {
    background: $green;
    text-align: center;
    color: $white;

    p {
        padding: 0 15%;
    }
}

#how_it_works {
    color: $black;

    small {
        color: $darkPink;
        @include sarabold;
    }

    .column {
        &:first-child {
            padding-right: 40px;
        }

        &:last-child {
            padding-left: 40px;
        }
    }

    ul:not(.nav) {
        list-style: none;
        padding: 0;

        li {
            padding-left: 30px;

            &:before {
                content: "";
                background: url("../images/check-mark.png") no-repeat;
                background-size: 100%;
                width: 15px;
                height: 15px;
                position: absolute;
                left: 5px;
                top: 8px;
            }
        }
    }

    .buttons_wrap {
        display: flex;
        justify-content: flex-start;
        column-gap: 20px;
    }

    .tab_section {
        width: 100%;
        text-align: center;
        margin-top: 60px;

        .tab_wrap {
            max-width: 75%;
            margin: 20px auto 0;

            @include media($desktop) {
                max-width: 85%;
            }

            @include media($tablet) {
                max-width: 100%;
            }

            ul {
                padding: 10px;
                border-radius: 50px;
                background: $lightGray;
                display: flex;
                justify-content: space-between;
                column-gap: 20px;

                @include media($mobile) {
                    border-radius: 20px;
                }

                .nav-item {
                    @include media($mobile) {
                        width: 100%;
                    }

                    .nav-link {
                        @include sarabold;
                        padding: 10px 30px;
                        border-radius: 50px;
                        color: $black;

                        @include media($tablet) {
                            padding: 10px 20px;
                        }

                        @include media($mobile) {
                            width: 100%;
                        }

                        &.active {
                            background: $white;
                        }
                    }
                }
            }

            .tab-content {
                max-width: 90%;
                margin: 0 auto;
            }

            .tab-pane {
                padding: 40px;
                border: 1px solid $darkGray;
                border-radius: 20px;
                margin-top: 20px;
            }
        }
    }
}

.splide__slide .title {
    color: $black;
    font-size: 0.8rem;
    text-align: center;
}
