* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

p {
    margin-bottom: 10px;
}

html,
body {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    background: none;
}

body {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $white;
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;

    @media screen and (max-width: 992px) {
        font-size: 16px;
        padding: 10px;
    }

    &.white {
        background: $white;
        color: $darkPink;
        border: 2px solid $darkPink;

        &:hover {
            background: $hoverPink;
            color: $white;
        }
    }

    &.pink {
        background: $darkPink;
        color: $white;

        &:hover {
            background: $hoverPink;
            color: $white;
        }
    }
}
