// primary stylesss

$lightPink: #fff1fa;
$darkPink: #ec297b;
$hoverPink: #a40f4e;
$black: #000;
$green: #6dbe45;
$white: #fff;
$lightGray: #fff1fa;
$darkGray: #cccccc;

$blue: #787fd5;
$hoverBlue: #4b54c7;
$gray: #757575;
$orange: #ffa020;
$hoverOrange: #c1420f;
$darkOrange: #c7780e;
$textGray: #595959;
$yellow: #f2efe6;