// typography baselines and @font face setups
@font-face {
    font-family: "sarabun-bold";
    src: url("fonts/sarabun-bold-webfont.eot"),
        url("fonts/sarabun-bold-webfont.ttf") format("truetype"),
        url("fonts/sarabun-bold-webfont.woff") format("woff"),
        url("fonts/sarabun-bold-webfont.woff2") format("woff2"),
        url("fonts/sarabun-bold-webfont.svg#sarabunbold") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* @font-face {
    font-family: "sarabun-italic";
    src: url("fonts/sarabun-italic-webfont.eot"),
        url("fonts/sarabun-italic-webfont.ttf") format("truetype"),
        url("fonts/sarabun-italic-webfont.woff") format("woff"),
        url("fonts/sarabun-italic-webfont.woff2") format("woff2"),
        url("fonts/sarabun-italic-webfont.svg#sarabunitalic") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: "sarabun-regular";
    src: url("fonts/sarabun-regular-webfont.eot"),
        url("fonts/sarabun-regular-webfont.ttf") format("truetype"),
        url("fonts/sarabun-regular-webfont.woff") format("woff"),
        url("fonts/sarabun-regular-webfont.woff2") format("woff2"),
        url("fonts/sarabun-regular-webfont.svg#sarabunregular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3 {
    @include sarabold;
}

a,
h4,
p {
    @include sararegular;
}
